$font-raleway: 'Raleway', sans-serif;
$font-pacifiko: 'Pacifico', cursive;

$color-black: #262626;
$color-white: #fff;
$color-orange: #ff6033;
$color-blue: #00bcbc;
$color-light-blue: #70bfff;
$color-yellow: #ffe92f;
$color-dark-blue: #5585a2;
$color-green: #96b92c;
$color-violet: #b07cf7;
$color-red: #f72b3b;
$color-grey: #b9b9b9;
$color-form1: #00c4c4;
$color-form2: #77dbdc;