.gallery {
    background-color: $color-yellow;
    padding-top: 65px;
    padding-bottom: 120px;

    &__title {
        @include large-title($color-black);
        text-align: center;
    }

    &__description {
        text-align: center;
        margin: 0 auto;
        margin-bottom: 43px;
    }

    &__foto {
        font-size: 0;
        
        & div {
        display: inline-block;
        }

        & .col-md-4 img:first-child {
            margin-bottom: 30px;
        }
    }

    &__row1 {
        margin-bottom: 30px;
    }

    &__row2 {
        margin-bottom: 42px;
    }

    .btn {
        background-color: $color-dark-blue;
        display: block;
        margin: 0 auto;
    }
}